<div class="container pb-3 mb-3">
  <h1 class="text-center mt-3">Parent to child communication</h1>
  <h3 class="text-center mt-3">Calculation of Area of rectangle</h3>

  <form class='col-6 offset-3' [formGroup]='form' (ngSubmit)='calculate()'>
    <div class="m-3 d-flex ">
      <label for="Height" class="form-label col-2">Length</label>
      <input type="number" class=" form-control col-8" placeholder="Enter Length in CM" formControlName='height'>
    </div>
    <div class="m-3 d-flex">
      <label for="Width" class="form-label col-2">width</label>
      <input type="number" class="form-control col-8" placeholder="Enter Width in CM" formControlName='width'>
    </div>
    <div class='text-center'>
      <button type="submit" class="btn btn-primary" [disabled]='!form.valid'>submit</button>
      <!-- <p ngIf='' class='text-center danger'>Data shared from Parrent to child</p> -->

    </div>
  </form>
  <p class='text-center' *ngIf='areaCalculated!=null'>Data Recived to parent is Area: {{areaCalculated}} sq.cm</p>

  <br>
  <hr>

  <app-child1 [recivedData]="formData" (AreaOutput)='recivedData($event)'></app-child1>
  <hr>
  <div class='col-6 offset-3'>
    <h1 class='text-center'>Json Curd Operations</h1>
    <form class='col-6 offset-3' [formGroup]='tableForm' (ngSubmit)='addTable(this.editButton)'>
      <div class="m-3 d-flex ">
        <label for="name" class="form-label px-3 col-3">Name</label>
        <input type="text" class=" form-control col-4 " placeholder="Enter Full Name" formControlName='name' #nameInput>
      </div>
      <div class="m-3 d-flex ">
        <label for="age" class="form-label px-3 col-3">Age</label>
        <input type="number" class="form-control col-4" placeholder="Age in years" formControlName='age' #ageInput>
      </div>
      <div class='text-center'>
        <button type="submit" class="btn btn-primary">{{editButton}}</button>
      </div>
    </form>
    <br>
    <table class="table">
      <thead>
        <tr>
          <th>Sno</th>
          <th>Name</th>
          <th>Age</th>
          <th></th>
          <th></th>


        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let table of jsonData;let i=index'>
          <td>{{table.id}} </td>
          <td>{{table.name}} </td>
          <td>{{table.age}} </td>
          <td><button class='btn btn-warning' (click)='editTable(table)' [disabled]='isEdit'>Edit</button></td>
          <td><button class='btn btn-danger' (click)='deleteTable(i)'>delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <br>
  <hr>
  <h1 class='text-center'>Dynamic cotrol of data using switch case</h1>

  <div class='col-6 offset-3 text center mb-3'>
    <div class='d-flex my-3 mb-3'>
      <label for="Casechange" class='col-3 my-3'>Change the Case:</label>
      <select class="form-select col-4 my-3" aria-label="change case" (change)="selected()" [(ngModel)]='selectedData'>
        <option value=0>Open this select menu</option>
        <option value=1>One</option>
        <option value=2>Two</option>
        <option value=3>Three</option>
      </select>
    </div>
    <div class='d-flex mb-3'>
      <p class='pe-3'>selected Text:</p>
      <p class='text-center'>{{viewedData}}</p>

    </div>
  </div>
  <footer class='mb-3 pb-3'></footer>
</div>
